<div id="<%= dom_id pin %>">
  <p>
    <strong>Title:</strong>
    <%= pin.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pin.description %>
  </p>

  <p>
    <strong>Saved at:</strong>
    <%= pin.created_at %>
  </p>

  <br />

  <% pin.pictures.each do |picture| %>
    <%= link_to image_tag(picture), picture  %>
  <% end %>
</div>
