<p style="color: green"><%= notice %></p>

<div class="nav">
        <div class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class:"nav-link" %>
        </div>
        <div class="nav-item">
            <%= link_to "Sing up", new_user_registration_path, class:"nav-link" %>
        </div>
</div>

<h1>Welcome to yourGallery</h1>
<div class="bottom-line"></div>

<div  id="images">
  <% @images.each do |image| %>
        <%= render image %>
  <% end %>
 </div>  

<div class="upload-btn">
  <%= link_to "upload new image", new_image_path, class:"btn btn-secondary " %>
</div>

